@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
:root{
    --cor-primaria: #D9421A;
    --cor-secundaria: #D9631A;
    --cor-terciaria:#1F2020;
    --font-principal: "Lora", serif;
}
body{
    background-color: #F7F7FA;
    font-family: var(--font-principal) ;
}
nav{
    display: flex;
    justify-content: space-between;
}
.logo{
    font-family: var(--font-principal);
    font-size: 2rem;
    color: var(--cor-primaria);
}
.links{
    display: flex;
    gap: 1rem;
}
button{
cursor: pointer;
border-radius: 1rem;
border-color: var(--cor-secundaria);
background-color:var(--cor-primaria);
padding: 0.7rem;
}

h1{
    color: var(--cor-primaria);
}
hr{
    height: 0.1rem;
    background-color: var(--cor-terciaria);
}
p{
    font-family: var(--font-principal);
    color: var(--cor-terciaria);
}
section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap:1.5rem;
}
img{
    max-width: 100%;
}
.card{
    border: 1px solid;
    border-radius: 3px;
}
h2{
    margin: 0;
    padding: 0.5rem;
   line-height: 1.2rem;
   color: var(--cor-primaria);
}
h3{
    margin: 0;
    padding: 0.5rem;
    color: var(--cor-primaria);
}
.paragrafo{
    padding: 0.5rem;
    color: var(--cor-terciaria)
}
@media (max-width: 768px){
    nav{
        flex-direction: column;
        gap: 0.8rem;
    }
    button{
        align-self: flex-start;
    }
   
    section{flex-direction: column;
    }
    .card{
        box-sizing: content-box;
        width: 50%;
        align-self: flex-start;
    }
    img{
        max-width: 50%;
    }
}